body {
    /* background: #efefef; */
    overflow-x: hidden;
    /*position: absolute;*/
    background:url("picture/background.png");
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
